<div th:include="header.html"></div>
<div class="container mt-3 first" style="margin-bottom: 60px;">
  <br/>
  <br/>
  <div class="mb-3" style="background-color: rgb(177, 191, 255); padding: 15px 25px; border-radius: 8px; text-align: center;">
    <h1 style="font-weight: bold;">Stated Preference Survey for a study of a Bike Sharing System for University of Moratuwa</h1>
  </div>
  <div class="mb-3" style="background-color: rgb(255, 200, 200); padding: 15px 25px; border-radius: 8px; text-align: justify;">
    <h5>
      Bike sharing system is a shared transport service where bicycle are made available for shared use. It is one of the popular transport initiation all around the world.
      <br/>
      <br/>
      This research is targeted to understand the factors that are important to promote a bike sharing system within university of Moratuwa. The study is conducted as an undergraduate research project at department of civil engineering. University of Moratuwa by Mr. S.Mathurikan, supervised by Dr. Dimantha De Silva.
      <br/>
      <br/>
      A survey to identify the important factors to promote bike sharing was completed and the following survey (A game with different options has been developed to build demand model for user choice and acceptance of the Bike Sharing system within University of Moratuwa
      <br/>
      <br/>
      The survey would take on average 10 Minutes
      <br/>
      <br/>
      Your responses are anonymous and the data will kept strictly confidential. if you need any further information about the study and have any question, please contact Mr. S. Mathurikan (<a href="mailto:mathurikansiva97@gmail.com">mathurikansiva97@gmail.com</a>) or Dr. Dimantha De Silva (<a href="mailto:dimanthads@uom.lk">dimanthads@uom.lk</a>)
      <br/>
      <br/>
      Thank you for taking part of this survey.
    </h5>
    <div class="row">
      <div class="col-md-12 mb-5">
        <button class="btn btn-primary firstNext"  style="background-color: blueviolet !important; border-color: darkslateblue !important; width: 100%;">Next</button>

      </div>
    </div>
  </div>
</div>
<div class="container mt-3 second" style="margin-bottom: 60px;">
  <br/>
  <br/>
  <div class="mb-3" style="background-color: rgb(177, 191, 255); padding: 15px 25px; border-radius: 8px; text-align: center;">
    <h1 style="font-weight: bold;">Stated Preference Survey for a study of a Bike Sharing System for University of Moratuwa</h1>
  </div>
  <div class="mb-3" style="background-color: rgb(255, 200, 200); padding: 15px 25px; border-radius: 8px; text-align: justify;">
    <h5>
      Here is a brief description of a possible Bike Sharing System.
      <br/>
      <br/>
      The bikes are made available at multiple parking stations (Picture 1) and could be used by anyone who has a active membership to the system.
      <br/>
      <br/>
      <b><u>How it Works</u></b>
      <br/>
      <br/>
      <b>UNLOCK</b>
      <br/>
      <br/>
      A subscribed user is allowed to unlock the bike at any bike station. Multiple methods such as unlock using a QR code, from a docking station are used. The user is responsible for the bike from the time of unlocking. Also the variable cost (per hour rental rate) starts to accumulate from the time of unlocking.
      <br/>
      <br/>
      <b>RIDE</b>
      <br/>
      <br/>
      Ride anywhere you want. The per time cost accumulates during this time.
      <br/>
      <br/>
      <b>RETURN</b>
      <br/>
      <br/>
      Then they can return at any station and Lock the Bike. Once the bike is returned, the responsibility with the user terminates. The variable cost stops accumulating (Picture 2).
    </h5>
  </div>
  <div class="row" style="margin: 0px -10px;">
    <div class="col-md-5 mb-3" style="padding: 10px;">
      <div style="background-color: rgb(205, 205, 205); padding: 25px 25px; border-radius: 8px; text-align: justify; min-height: 400px;">
        <h5>
          Picture 1 - Bicycle Parking Location
        </h5>
        <img src="https://lh4.googleusercontent.com/QPC6R8UB59kQzrDxcj_AbDz3Fb8gpFcVBOiQz1gOeG_L_Pu3PRY6K7x33diRzCtu4ZnivqD5qvSuXA8vKfoLv-436dpzbDpZBBsymeSo_f3yqblZ_VILY38SkgkukCPokQ=w402" alt="Bicycle Parking Location"
             class="mt-4" style="display: block; margin: auto; max-width: 100%;"
        >
      </div>
    </div>
    <div class="col-md-7 mb-3" style="padding: 10px;">
      <div style="background-color: rgb(205, 205, 205); padding: 25px 25px; border-radius: 8px; text-align: justify; min-height: 400px;">
        <h5>
          Picture 2 - How Bike Sharing Work
        </h5>
        <img src="https://lh3.googleusercontent.com/9Q7uzfek_-MeQEMxJQRvY4dFDvsLg1wPgGickwu68WACctN8YyL6gVc5ViCV-pJQtrxEffMdKw2O1W-THFZFEtQPoa69sFZDY0No1g2hcHrVL8eOGUbHM4fIfFpZNambAg=w998" alt="How Bike Sharing Work"
             class="mt-5" style="display: block; margin: auto; max-width: 100%;"
        >
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mb-5">
      <button class="btn btn-primary secondNext"  style="background-color: blueviolet !important; border-color: darkslateblue !important; width: 100%;">Next</button>
    </div>
  </div>
</div>

<div class="container mt-3 third" style="margin-bottom: 60px;">
  <br/>
  <br/>
  <div class="mb-3" style="background-color: rgb(177, 191, 255); padding: 15px 25px; border-radius: 8px; text-align: center;">
    <h1 style="font-weight: bold;">Stated Preference Survey for a study of a Bike Sharing System for University of Moratuwa</h1>
  </div>
  <div class="mb-3" style="background-color: rgb(255, 200, 200); padding: 15px 25px; border-radius: 8px; text-align: justify;">
    <h5>
      Following attributes will explain the features of the Bike Sharing System.
      <ul style="text-align: justify; margin: 20px 0px 25px;">
        <li><b>Membership Fee</b>: You will need to get a membership and a membership fee will have to be paid.</li>
        <br/>
        <li><b>Membership Fee Returned</b>:  Will determine whether the membership fee is returned or not when you cancel the membership.</li>
        <br/>
        <li><b>Variable Cost per Hour</b>: The charge that will be for the time you use the bike.  Starting from unlocking from the bike station to returning back to any station.</li>
        <br/>
        <li><b>Distance to the Station</b>: The distance you will have to walk to a station to get a bike. This will determine how close a station will be to you based on your origin within the UoM.</li>
        <br/>
        <li><b>Allowed to use Outside UoM</b>: Whether you are allowed to use the Bike Outside the University or not. (no stations are provided outside the university)</li>
      </ul>
      You are asked to play a game to provide your choice based on above set of attributes that explains the Bike Sharing System. You will be given three options  (Options A, B, C) where Option C will be "not using the Bike sharing system".
      <br/>
      <br/>
      You are requested to rank in the order of your preference. (Rank 1 - Most preferred to Rank 3 - Least Preferred)
      <br/>
      <br/>
      The game will be given 5 times to each respondents. However, you are invited to play the game multiple times if you wish.
    </h5>
  </div>
  <div class="row">
    <div class="col-md-12 mb-5">
      <button class="btn btn-primary thirdNext"  style="background-color: blueviolet !important; border-color: darkslateblue !important; width: 100%;">Next</button>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(e) {
    $(".second").hide();
    $(".third").hide();
  })

  $(".firstNext").on('click',function (){
    $(".first").hide();
    $(".second").show();
    $(".third").hide();
  })
  $(".secondNext").on('click',function (){
    $(".first").hide();
    $(".second").hide();
    $(".third").show();
  })
  $(".thirdNext").on('click',function (){
    location.href = "/scenario"
  })
</script>
<div th:include="footer.html"></div>