<div th:include="header.html"></div>
<div class="container mt-3 first" style="margin-bottom: 60px;">
  <br/>
  <br/>
  <div class="mb-3" style="background-color: rgb(204, 153, 0);	 padding: 15px 25px; border-radius: 8px; text-align: center;">
    <h1 style="font-weight: bold;">THE EVALUATION OF FACTORS INFLUENCING BICYCLE TRIPS IN A HERITAGE CITY (A CASE STUDY ON CYCLING TOURIST IN ANURADHAPURA ANCIENT CITY)</h1>
    <img src="/img/Logo.png" alt="" style="display: block; margin: auto; max-width: 10%;">
  </div>
  <div class="mb-3" style="background-image: url('/img/backgroumd.jpg');background-size: 100% 100%; padding: 15px 25px; border-radius: 8px; text-align: justify;">
    <h5>
      <p>
        The Anuradhapura city is one of the major tourist attraction zones in Sri Lanka.  The purpose of the survey is to find factors that influence a tourist to use cycling as their primary transport method within the Sacred City.  This survey is conducting in partial fulfilment of the requirement for the thesis of a Postgraduate degree in the field of Transportation. The pollster of the survey <a href="https://www.linkedin.com/in/sswanniarachchisrilanka/" target="_blank">S.S. Wanniarachchi</a>, is a postgraduate student of <a  href="http://www.civil.mrt.ac.lk/Academic_Profiles/dimantha/" target="_blank">Dr G.L.D.I. De Silva</a> of the Department of Civil Engineering, University of Moratuwa, Sri Lanka
      </p>

    </h5>
    <div class="row">
      <div class="col-md-12 mb-5">
        <button class="btn btn-primary firstNext"  style="background-color: blueviolet !important; border-color: darkslateblue !important; width: 30%;">Next</button>

      </div>
    </div>
  </div>
</div>
<div class="container mt-3 second" style="margin-bottom: 60px;">
  <br/>
  <br/>
  <div class="mb-3" style="background-color: rgb(255, 191, 0); padding: 15px 25px; border-radius: 8px; text-align: center;">
    <h1 style="font-weight: bold;">THE EVALUATION OF FACTORS INFLUENCING BICYCLE TRIPS IN A HERITAGE CITY (A CASE STUDY ON CYCLING TOURIST IN ANURADHAPURA ANCIENT CITY)</h1>
    <img src="/img/Logo.png" alt="" style="display: block; margin: auto; max-width: 10%;">
  </div>
  <div class="mb-3" style="background-image: url('/img/backgroumd.jpg');background-size: 100% 100%; padding: 15px 25px; border-radius: 8px; text-align: justify;">
    <h5>
      The Anuradhapura is a major district in North Central province. It was an ancient city complex in 346 BC. This is one of the major tourist attraction zones in Sri Lanka.  The area is enriched with historical monuments ex: Sri Maha Bodhi, Ruwanweliseya Monastery, Thuparamaya, Lovamahapaya,Abhayagiri Dagaba, Jetavanarama, Mirisaveti Stupa, Lankarama and Archaeological Museum etc.
      <br/>
      <br/>
      The Less attention is given to leisure cycling tourists in Anuradhapura heritage city. The factors that encourage foreign and local tourists in cycling is not quite available. The leisure cycling is a long to medium distance cycling trip for pleasure, experience and freedom suitable for physically capable travellers.
      <br/>
      <br/>
      The cycling tourism is a soft mobility based transport method within the Sacred City.  The purpose of the research is to to develop a model based on a primary data to understand  foreign and local tourists requirements/ choices to develop cycling tourism infrastructure within Anuradhapura ancient city.
    </h5>
  </div>
  <div class="row" style="margin: 0px -10px;">
    <div class="col-md-5 mb-3" style="padding: 10px;">
<!--      <div style="background-color: rgb(205, 205, 205); padding: 25px 25px; border-radius: 8px; text-align: justify; min-height: 400px;">-->
<!--        <h5>-->
<!--          Picture 1 - Bicycle Parking Location-->
<!--        </h5>-->
<!--        <img src="https://lh4.googleusercontent.com/QPC6R8UB59kQzrDxcj_AbDz3Fb8gpFcVBOiQz1gOeG_L_Pu3PRY6K7x33diRzCtu4ZnivqD5qvSuXA8vKfoLv-436dpzbDpZBBsymeSo_f3yqblZ_VILY38SkgkukCPokQ=w402" alt="Bicycle Parking Location"-->
<!--             class="mt-4" style="display: block; margin: auto; max-width: 100%;"-->
<!--        >-->
<!--      </div>-->
      <div id="carouselExampleSlides" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="/img/2.png" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/img/3.png" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/img/4.png" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/img/6.png" alt="Second slide">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7 mb-3" style="padding: 10px;">
<!--      <div style="background-color: rgb(205, 205, 205); padding: 25px 25px; border-radius: 8px; text-align: justify; min-height: 400px;">-->
<!--        <h5>-->
<!--          Picture 2 - How Bike Sharing Work-->
<!--        </h5>-->
<!--        <img src="https://lh3.googleusercontent.com/9Q7uzfek_-MeQEMxJQRvY4dFDvsLg1wPgGickwu68WACctN8YyL6gVc5ViCV-pJQtrxEffMdKw2O1W-THFZFEtQPoa69sFZDY0No1g2hcHrVL8eOGUbHM4fIfFpZNambAg=w998" alt="How Bike Sharing Work"-->
<!--             class="mt-5" style="display: block; margin: auto; max-width: 100%;"-->
<!--        >-->
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="/img/1.png" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/img/5.png" alt="Second slide">
            </div>
          </div>
        </div>
<!--      </div>-->
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mb-5">
      <button class="btn btn-primary secondNext"  style="background-color: blueviolet !important; border-color: darkslateblue !important; width: 100%;">Next</button>
    </div>
  </div>
</div>

<!--<div class="container mt-3 third" style="margin-bottom: 60px;">-->
<!--  <br/>-->
<!--  <br/>-->
<!--  <div class="mb-3" style="background-color: rgb(177, 191, 255); padding: 15px 25px; border-radius: 8px; text-align: center;">-->
<!--    <h1 style="font-weight: bold;">Stated Preference Survey for a study of a Bike Sharing System for University of Moratuwa</h1>-->
<!--  </div>-->
<!--  <div class="mb-3" style="background-color: rgb(255, 200, 200); padding: 15px 25px; border-radius: 8px; text-align: justify;">-->
<!--    <h5>-->
<!--      Following attributes will explain the features of the Bike Sharing System.-->
<!--      <ul style="text-align: justify; margin: 20px 0px 25px;">-->
<!--        <li><b>Membership Fee</b>: You will need to get a membership and a membership fee will have to be paid.</li>-->
<!--        <br/>-->
<!--        <li><b>Membership Fee Returned</b>:  Will determine whether the membership fee is returned or not when you cancel the membership.</li>-->
<!--        <br/>-->
<!--        <li><b>Variable Cost per Hour</b>: The charge that will be for the time you use the bike.  Starting from unlocking from the bike station to returning back to any station.</li>-->
<!--        <br/>-->
<!--        <li><b>Distance to the Station</b>: The distance you will have to walk to a station to get a bike. This will determine how close a station will be to you based on your origin within the UoM.</li>-->
<!--        <br/>-->
<!--        <li><b>Allowed to use Outside UoM</b>: Whether you are allowed to use the Bike Outside the University or not. (no stations are provided outside the university)</li>-->
<!--      </ul>-->
<!--      You are asked to play a game to provide your choice based on above set of attributes that explains the Bike Sharing System. You will be given three options  (Options A, B, C) where Option C will be "not using the Bike sharing system".-->
<!--      <br/>-->
<!--      <br/>-->
<!--      You are requested to rank in the order of your preference. (Rank 1 - Most preferred to Rank 3 - Least Preferred)-->
<!--      <br/>-->
<!--      <br/>-->
<!--      The game will be given 5 times to each respondents. However, you are invited to play the game multiple times if you wish.-->
<!--    </h5>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col-md-12 mb-5">-->
<!--      <button class="btn btn-primary thirdNext"  style="background-color: blueviolet !important; border-color: darkslateblue !important; width: 100%;">Next</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<script>
  $(document).ready(function(e) {
    $(".second").hide();
  })

  $(".firstNext").on('click',function (){
    $(".first").hide();
    $(".second").show();

  })
  // $(".secondNext").on('click',function (){
  //   $(".first").hide();
  //   $(".second").hide();
  //   $(".third").show();
  // })
  $(".second").on('click',function (){
    location.href = "/scenario"
  })
</script>
<div th:include="footer.html"></div>