<div class="container mt-3" style="margin-bottom: 60px;">
    <br/>
    <br/>
    <div class="mb-3" style="background-color: rgb(177, 191, 255); padding: 15px 25px; border-radius: 8px; text-align: center;">
        <h1 style="font-weight: bold;">Stated Preference Survey for a study of a Bike Sharing System for University of Moratuwa</h1>
    </div>

    <div class="mb-3" style="background-color: rgb(208, 208, 208); padding: 15px 25px; border-radius: 8px;">
        <h2 style="font-weight: bold;" th:text="'Scenario'+ ${scenario} +'/ 5'"></h2>
        <h3>Please rank the following in order of your preference. (Rank 1 - Most Preferred, to Rank 3 - Least Preferred)</h3>
    </div>
    <div class="row">
        <div class="col-md-4 mb-2">
            <div class="card bg-primary mb-2 p-2 text-dark bg-opacity-25" style="background-color: rgb(232, 201, 248) !important;">
                <div class="card-body">
                    <center>
                        <h5 class="card-title"><b>Option A</b></h5>
                    </center>
                    <br/>
                    <table style="width:100%">
                        <tr style="vertical-align:top; height: 50px !important;">
                            <td style="width: 225px;">Membership Fee (Rs) :</td>
                            <td><b>1000</b></td>
                        </tr>
                        <tr style="vertical-align:top; height: 50px !important;">
                            <td style="width: 225px;">Membership Fee Returned :</td>
                            <td><b>No</b></td>
                        </tr>
                        <tr style="vertical-align:top; height: 50px !important;">
                            <td style="width: 225px;">Variable Cost per Hour (Rs) :</td>
                            <td><b>75 (Rs 1.25/min)</b></td>
                        </tr>
                        <tr style="vertical-align:top; height: 50px !important;">
                            <td style="width: 225px;">Distance to the station(m) :</td>
                            <td><b>100</b></td>
                        </tr>
                        <tr style="vertical-align:top; height: 50px !important;">
                            <td style="width: 225px;">Allow to take bike outside the university :</td>
                            <td><b>Yes</b></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card bg-primary p-2 text-dark bg-opacity-25" style="background-color: rgb(232, 201, 248) !important;">
                <div class="card-body">
                    <center>
                        <h5 class="card-title"><b>Option B</b></h5>
                    </center>
                    <br/>
                    <table style="width:100%;">
                        <tr style="vertical-align:top; height: 50px !important;">
                            <td style="width: 225px;">Membership Fee (Rs) :</td>
                            <td><b>5000</b></td>
                        </tr>
                        <tr style="vertical-align:top; height: 50px !important;">
                            <td style="width: 225px;">Membership Fee Returned :</td>
                            <td><b>Yes</b></td>
                        </tr>
                        <tr style="vertical-align:top; height: 50px !important;">
                            <td style="width: 225px;">Variable Cost per Hour (Rs) :</td>
                            <td><b>30 (Rs 0.5/min)</b></td>
                        </tr>
                        <tr style="vertical-align:top; height: 50px !important;">
                            <td style="width: 225px;">Distance to the station(m) :</td>
                            <td><b>200</b></td>
                        </tr>
                        <tr style="vertical-align:top; height: 50px !important;">
                            <td style="width: 225px;">Allow to take bike outside the university :</td>
                            <td><b>Yes</b></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card bg-primary p-2 text-dark bg-opacity-25" style="background-color: rgb(232, 201, 248) !important;">
                <div class="card-body">
                    <center>
                        <h5 class="card-title"><b>Option C</b></h5>
                    </center>
                    <br/>
                    <table style="width:100%">
                            <span style="vertical-align:top; height: 50px !important; text-align: center;">
                                <h5 style="height: 242px;"><b>Not use Bike Sharing System</b></h5>
                            </span>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div th:include="submitForm.html"></div>
</div>