<head th:include="header.html"></head>
<div class="container mt-5">
    <div class="card bg-primary p-2 text-dark bg-opacity-25" style="background-color: rgb(204, 153, 0) !important;">
        <div class="card-body">
            <center>
                <h5 class="card-title">Response Successfully Submitted!</h5>
                <p class="card-text">Thank you for participating in the Survey.</p>
                <form action="/" method="GET">
                    <button class="btn btn-primary" type="submit" style="background-color: blueviolet !important; border-color: darkslateblue !important; width: 100%;">
                        Submit Another Response
                    </button>
                </form>
            </center>
        </div>
    </div>
</div>
<head th:include="footer.html"></head>